@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 110vh;
}
header {
  position: sticky;
  top: 0;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: rgb(216, 176, 128);
}
header h1 {
  font-family: "Satisfy", cursive;
  color: blanchedalmond;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* MAIN */
main {
  padding: 20px;
}

.content {
  width: 100%;
  background-color: blanchedalmond;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}

.card {
  box-shadow: 3px 3px 7px -2px rgba(120, 109, 109, 0.47);
  -webkit-box-shadow: 3px 3px 7px -2px rgba(120, 109, 109, 0.47);
  -moz-box-shadow: 3px 3px 7px -2px rgba(120, 109, 109, 0.47);
}

.filter form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter form input {
  padding: 9px;
  border-radius: 10px;
  border: 1px solid rgb(190, 184, 184);
  font-size: 1em;
  outline: none;
}
#search-btn {
  padding: 5px 8px;
  border-radius: 10px;
  border: 1px solid salmon;
  outline: none;
  cursor: pointer;
  background-color: salmon;
  font-size: 1em;
  color: aliceblue;
}
#search-btn:hover {
  background-color: tomato;
}

h2 {
  margin-bottom: 20px;
}

.table-content table {
  width: 100%;
}
.table-content table tbody tr:nth-child(even) {
  background-color: rgb(255, 226, 223);
}
.table-content table tbody tr td {
  padding: 5px;
  text-align: center;
}
.table-content table tbody tr td:nth-child(2) {
  text-align: left;
  padding-left: 50px;
  width: 350px;
}
.table-content table tbody tr th {
  width: 50px;
}
.table-content table thead {
  background-color: rgb(250, 208, 203);
  height: 30px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: rgb(216, 176, 128);
  font-weight: 700;
}
